<div class="words-study-page">
    <div class="container">
        <ng-container *ngIf="Loaded">
            <div class="row header"></div>

            <div class="row content">
                <div class="col">
                    <div class="word">
                        <div class="word__value">
                            {{ Word.text }}
                        </div>

                        <div class="word__transcription">
                            {{ Word.transcription }}
                        </div>

                        <div class="word__footer">
                            <div class="word-controls">
                                <span
                                    class="material-icons"
                                    matTooltip="Прослушать"
                                    matTooltipHideDelay="100"
                                    #tooltip="matTooltip"
                                    matTooltipPosition="above"
                                >
                                    volume_up
                                </span>
                                <span
                                    class="material-icons"
                                    matTooltip="Замедленное воспроизведение"
                                    matTooltipHideDelay="100"
                                    #tooltip="matTooltip"
                                    matTooltipPosition="above"
                                >
                                    slow_motion_video
                                </span>
                                <span
                                    class="material-icons"
                                    matTooltip="Пропустить"
                                    matTooltipHideDelay="100"
                                    #tooltip="matTooltip"
                                    matTooltipPosition="above"
                                >
                                    fast_forward
                                </span>
                                <span
                                    class="material-icons"
                                    matTooltip="Просмотреть ассоциацию"
                                    matTooltipHideDelay="100"
                                    #tooltip="matTooltip"
                                    matTooltipPosition="above"
                                >
                                    help
                                </span>
                            </div>

                            <div
                                class="word-statistics"
                                [matTooltip]="Word.statistics.correctness + ' %'"
                                matTooltipHideDelay="100"
                                #tooltip="matTooltip"
                                matTooltipPosition="above"
                            >
                                <span class="word-statistics__success">{{ Word.statistics.correctness }}</span>
                                <span class="word-statistics__separator"> / </span>
                                <span class="word-statistics__total">{{ Word.statistics.countShow }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="association">
                        {{ Word.association }}
                    </div>
                </div>
        
                <div class="col">
                    <div class="answers">
                        <div
                            *ngFor="let answer of Answers"
                            class="answers__button"
                        >
                            {{ answer.text }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row daily-statistisc">
                <statistics_daily-statistics [DailyStatistics]="DailyStatistics"></statistics_daily-statistics>
            </div>
        </ng-container>

        <div
            class="crums_loader"
            *ngIf="!Loaded"
        >
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>