<div class="add-word-page">
    <form
        class="container"
        *ngIf="Loaded"
        [formGroup]="Form"
        (ngSubmit)="sendWord()"
    >
        <div class="row">
            <mat-form-field class="field">
                <mat-label>
                    Текст слова
                </mat-label>
                <input
                    matInput
                    placeholder="Введите текст слова"
                    formControlName="text"
                >
            </mat-form-field>
        </div>

        <div class="row translates">
            <div class="col translates__variations">
                <mat-form-field class="field">
                    <mat-label>
                        Перевод
                    </mat-label>
                    <textarea
                        matInput
                        placeholder="Введите варианты перевода"
                        formControlName="translates"
                        [rows]="Translates.length + 1"
                    ></textarea>
                </mat-form-field>
            </div>

            <div
                *ngIf="Translates.length"
                class="col translates__private"
            >
                <label>
                    Основной вариант перевода
                </label>
                <mat-radio-group
                    class="field radio-group"
                    formControlName="privateTranslateIndex"
                >
                    <mat-radio-button
                        class="field radio-group__button"
                        *ngFor="let translate of Translates; let i = index"
                        [value]="i"
                    >
                        {{ translate }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="row">
            <mat-form-field class="field">
                <mat-label>
                    Транскрипция
                </mat-label>
                <textarea
                    matInput
                    placeholder="Введите транскрипцию"
                    formControlName="transcription"
                ></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="field">
                <mat-label>
                    Ассоциация
                </mat-label>
                <textarea
                    matInput
                    placeholder="Введите ассоциацию"
                    formControlName="association"
                ></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="field">
                <mat-label>
                    Audio-файлы
                </mat-label>
                <textarea
                    matInput
                    rows="3"
                    placeholder="Введите ссылки на Audio-файлы"
                    formControlName="audio"
                ></textarea>
            </mat-form-field>
        </div>

        <div class="buttons">
            <button
                mat-raised-button
                type="submit"
                class="buttons__send"
            >
                <span class="material-icons">send</span>
                Отправить
            </button>
            <button
                mat-raised-button
                class="buttons__clear"
                (click)="resetForm()"
            >
                <span class="material-icons">clear</span>
                Сбросить
            </button>
        </div>
    </form>

    <div
        class="crums_loader"
        *ngIf="!Loaded"
    >
        <mat-spinner></mat-spinner>
    </div>
</div>